<app-navbar></app-navbar>

<div class="team-container">
  <div class="header">
    <img src="icons/karvina.png" alt="MFK Karviná logo" class="team-logo" />
    <div class="team-info">
      <h1>MFK Karviná</h1>
      <h2>Soupiska:</h2>
    </div>
    <div class="coach">
      <p>Hlavní trenér: <strong><img src="https://flagcdn.com/w40/cz.png" class="flag" /> Martin Hyský</strong></p>
      <p class="position">Pozice v tabulce: <strong>14</strong></p>
      <div class="socials">
        <a href="#">🌐</a>
        <a href="#">📸</a>
        <a href="#">📘</a>
        <a href="#">📧</a>
        <a href="#">🎵</a>
      </div>
    </div>
  </div>

  <div class="squad">
    <div class="category">
      <h3>Brankáři</h3>
      <ul>
        <li>#30 Jakub Lapeš 🇨🇿</li>
        <li>#34 Ondřej Mrózek 🇨🇿</li>
        <li>#23 Ondřej Schovanec 🇨🇿</li>
      </ul>
    </div>

    <div class="category">
      <h3>Obránci</h3>
      <ul>
        <li>#5 Douglas Bergqvist 🇸🇪</li>
        <li>#20 Momčilo Raspopović 🇲🇪</li>
        <li>#29 Michal Tomič 🇸🇰</li>
        <li>#24 Ondřej Drobek 🇨🇿</li>
        <li>#25 Jiří Fleišman 🇨🇿</li>
        <li>#37 Dávid Krčík 🇸🇰</li>
        <li>#49 Sahmkou Camara 🇬🇳</li>
        <li>#2 Benson Sakala 🇿🇲</li>
      </ul>
    </div>

    <div class="category">
      <h3>Záložníci</h3>
      <ul>
        <li>#14 Emmanuel Ayaosi 🇳🇬</li>
        <li>#77 Rok Štorman 🇸🇮</li>
        <li>#21 Alexandr Bužek 🇨🇿</li>
        <li>#28 Patrik Čavoš 🇨🇿</li>
        <li>#8 David Planka 🇨🇿</li>
        <li>#10 Hélio Alberto Delgado Silva Papalele 🇨🇻</li>
        <li>#12 Dominik Žák 🇨🇿</li>
        <li>#6 Daniel Langhamer 🇨🇿</li>
        <li>#99 Amar Memić 🇧🇦</li>
        <li>#2 David Moses 🇳🇬</li>
      </ul>
    </div>

    <div class="category">
      <h3>Útočníci</h3>
      <ul>
        <li>#27 Ebrima Singhateh 🇬🇲</li>
        <li>#19 Adeleke Akinyemi 🇳🇬</li>
        <li>#51 Martin Doležal 🇨🇿</li>
        <li>#26 Lucky Ezeh 🇳🇬</li>
        <li>#13 Filip Vecheta 🇨🇿</li>
        <li>#9 Pavel Kačor 🇨🇿</li>
      </ul>
    </div>
  </div>

  <div class="stats">
    <p><strong>Počet titulů:</strong> 0</p>
    <p><strong>Kapacita stadionu:</strong> 4 833</p>
    <p><strong>Počet titulů v Českém poháru:</strong> 0</p>
    <p><strong>Stadion:</strong> Městský stadion Karviná</p>
    <p><strong>Rok založení:</strong> 2003</p>
  </div>
</div>
