<app-navbar></app-navbar>
<div class="my-bets-container">
  <div class="header-section">
    <h1>Moje sázečky</h1>
    <button class="history-btn">Historie sázek</button>
  </div>

  <div class="bets-grid">
    <div class="bet-card upcoming">
      <p class="bet-type">SOLO sázka | <span>10 b</span></p>
      <p class="match-date">5.4.2025</p>
      <p class="team-info">Vítěz: <strong>Sparta</strong></p>
      <p class="match">Zápas: <span>Sparta - Slavia</span></p>
      <p class="stake">Sázka: 10 b</p>
      <p class="potential">Potencionální výhra: <strong>20 b</strong></p>
    </div>

    <div class="bet-card lost">
      <p class="bet-type">SOLO sázka | <span>10 b</span></p>
      <p class="match-date">25.3.2025</p>
      <p class="team-info">Vítěz: <strong>Sparta</strong></p>
      <p class="match">Zápas: <span>Sparta - Slavia</span></p>
      <p class="stake">Sázka: 10 b</p>
      <p class="result">Výhra: <strong>0 b</strong></p>
    </div>

    <div class="bet-card won">
      <p class="bet-type">SOLO sázka | <span>10 b</span></p>
      <p class="match-date">19.3.2025</p>
      <p class="team-info">Vítěz: <strong>Sparta</strong></p>
      <p class="match">Zápas: <span>Sparta - Slavia</span></p>
      <p class="stake">Sázka: 10 b</p>
      <p class="result">Výhra: <strong>20 b</strong></p>
    </div>

    <div class="bet-card won">
      <p class="bet-type">SOLO sázka | <span>10 b</span></p>
      <p class="match-date">2.2.2025</p>
      <p class="team-info">Vítěz: <strong>Slavie</strong></p>
      <p class="match">Zápas: <span>Sparta - Slavia</span></p>
      <p class="stake">Sázka: 10 b</p>
      <p class="result">Výhra: <strong>20 b</strong></p>
    </div>
  </div>
</div>
