<nav class="navbar">
  <a class="navbar-logo" routerLink="/">Lajnovačka</a>

  <div class="navbar-menu">
    <a class="nav-item" routerLink="/tabulka-ligy" routerLinkActive="active">Tabulka Ligy</a>
    <a class="nav-item" routerLink="/tabulka-strelcu" routerLinkActive="active">Tabulka střelců</a>
    <a class="nav-item" (click)="toggleTeamList()">Týmy</a>
    <a class="nav-item" routerLink="/tipovaci-soutez" routerLinkActive="active">Tipovací soutěž</a>
    <a class="nav-item" routerLink="/diskuze" routerLinkActive="active">Diskuze</a>
  </div>

  <div class="navbar-auth" *ngIf="!username">
    <button class="btn btn-login" routerLink="/prihlaseni">Přihlásit</button>
    <button class="btn btn-register" routerLink="/registrace">Registrace</button>
  </div>

  <div class="navbar-auth" *ngIf="username">
    <span style="color: white;">Přihlášen: {{ username }}</span>
    <button class="btn btn-login" (click)="logout()">Odhlásit</button>
  </div>


  <app-team-list *ngIf="showTeamList"></app-team-list>
</nav>
