.team-bar {
  background-color: #0d2b5e; // stejná barva jako $app-primary z navbaru
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0; // aby to neodskočilo dolů
  border-top: 1px solid white; // volitelné oddělení od navbaru

  a {
    display: block;
    height: 38px;

    img {
      height: 100%;
      width: auto;
      display: block;
      border-radius: 4px;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
