<a (click)="toggleSidebar()" class="nav-item">Týmy</a>

<div class="sidebar bg-secondary" [class.open]="isOpen">
  <button class="close-btn" (click)="toggleSidebar()">×</button>

  <div class="image-grid">
    <img src="icons/sparta.png" />
    <img src="icons/slavie.png" />
    <img src="icons/Banicek.png" />
    <img src="icons/Jablonec.png" />
    <img src="icons/liberec.png" />
    <img src="icons/plzen.png" />
    <img src="icons/olomouc.webp" />
    <img src="icons/bohemka.png" />
    <img src="icons/boleslav.png" />
    <img src="icons/budejky.jpg" />
    <img src="icons/dukla.png" />
    <img src="icons/hradec.png" />
    <img src="icons/karvina.png" />
    <img src="icons/pardubice.png" />
    <img src="icons/slovacko.png" />
    <img src="icons/teplice.jfif" />
  </div>
</div>

<div class="overlay" *ngIf="isOpen" (click)="toggleSidebar()"></div>
