<a (click)="toggleSidebar()" class="nav-item">Týmy</a>


<div class="sidebar bg-secondary" [class.open]="isOpen">
  <button class="close-btn" (click)="toggleSidebar()">×</button>
  <table>
    <tbody>
    <!-- Řádek 1 -->
    <tr>

      <td><img src="assets/icons/AC-Sparta-LOGO2021.svg.png" /> </td>

    </tr>

    <!-- Řádek 2 -->
    <tr>
      <td><img src="https://c.animaapp.com/m95wiqhuososZI/img/sparta-logo.png"  /> </td>
    </tr>

    <!-- Řádek 3 -->
    <tr>
      <td><img src="https://c.animaapp.com/m95wiqhuososZI/img/sparta-logo.png"  /> </td>
    </tr>
    <tr>
      <td><img src="https://c.animaapp.com/m95wiqhuososZI/img/sparta-logo.png" /> </td>
    </tr>
    <tr>
      <td><img src="https://c.animaapp.com/m95wiqhuososZI/img/sparta-logo.png" /> </td>
    </tr>
    <tr>
      <td><img src="https://c.animaapp.com/m95wiqhuososZI/img/sparta-logo.png" /> </td>
    </tr>
    <tr>
      <td><img src="https://c.animaapp.com/m95wiqhuososZI/img/sparta-logo.png"  /> </td>
    </tr>
    <tr>
      <td><img src="https://c.animaapp.com/m95wiqhuososZI/img/sparta-logo.png" /> </td>
    </tr>
    <tr>
      <td><img src="https://c.animaapp.com/m95wiqhuososZI/img/sparta-logo.png" /> </td>
    </tr>
    <tr>
      <td><img src="https://c.animaapp.com/m95wiqhuososZI/img/sparta-logo.png" /> </td>
    </tr>
    <tr>
      <td><img src="https://c.animaapp.com/m95wiqhuososZI/img/sparta-logo.png" /> </td>
    </tr>
    <tr>
      <td><img src="https://c.animaapp.com/m95wiqhuososZI/img/sparta-logo.png" /> </td>
    </tr>
    <tr>
      <td><img src="https://c.animaapp.com/m95wiqhuososZI/img/sparta-logo.png" /> </td>
    </tr>
    <tr>
      <td><img src="https://c.animaapp.com/m95wiqhuososZI/img/sparta-logo.png" /> </td>
    </tr>
    <tr>
      <td><img src="https://c.animaapp.com/m95wiqhuososZI/img/sparta-logo.png" /> </td>
    </tr>
    <tr>
      <td><img src="https://c.animaapp.com/m95wiqhuososZI/img/sparta-logo.png" /> </td>
    </tr>


    <!-- Přidej další týmy podle obrázku -->
    </tbody>
  </table>
</div>

<div class="overlay" *ngIf="isOpen" (click)="toggleSidebar()"></div>
