<app-navbar></app-navbar>

<div class="team-container">
  <div class="header">
    <img src="icons/plzen.png" alt="FC Viktoria Plzeň logo" class="team-logo" />
    <div class="team-info">
      <h1>FC Viktoria Plzeň</h1>
      <h2>Soupiska:</h2>
    </div>
    <div class="coach">
      <p>Hlavní trenér: <strong><img src="https://flagcdn.com/w40/cz.png" class="flag" /> Miroslav Koubek</strong></p>
      <p class="position">Pozice v tabulce: <strong>2</strong></p>
      <div class="socials">
        <a href="#">🌐</a>
        <a href="#">📸</a>
        <a href="#">📘</a>
        <a href="#">📧</a>
        <a href="#">🎵</a>
      </div>
    </div>
  </div>

  <div class="squad">
    <div class="category">
      <h3>Brankáři</h3>
      <ul>
        <li>#13 Marián Tvrdoň 🇸🇰</li>
        <li>#16 Martin Jedlička 🇨🇿</li>
        <li>#30 Viktor Baier 🇨🇿</li>
        <li>#15 Matyáš Šilhavý 🇨🇿</li>
      </ul>
    </div>

    <div class="category">
      <h3>Obránci</h3>
      <ul>
        <li>#2 Lukáš Hejda 🇨🇿</li>
        <li>#3 Svetozar Marković 🇷🇸</li>
        <li>#4 Cory Sène 🇸🇳</li>
        <li>#5 Jan Paluska 🇨🇿</li>
        <li>#14 Merchas Doski 🇮🇶</li>
        <li>#21 Václav Jemelka 🇨🇿</li>
        <li>#24 Milan Havel 🇨🇿</li>
        <li>#40 Sampson Dweh 🇱🇷</li>
      </ul>
    </div>

    <div class="category">
      <h3>Záložníci</h3>
      <ul>
        <li>#6 Lukáš Červ 🇨🇿</li>
        <li>#10 Jan Kopic 🇨🇿</li>
        <li>#12 Alexandr Sojka 🇨🇿</li>
        <li>#19 Cheick Souaré 🇫🇷</li>
        <li>#20 Jiří Panoš 🇨🇿</li>
        <li>#22 Cadu 🇧🇷</li>
        <li>#23 Lukáš Kalvach 🇨🇿</li>
        <li>#29 Tom Slončík 🇨🇿</li>
        <li>#31 Pavel Šulc 🇨🇿</li>
        <li>#32 Matěj Valenta 🇨🇿</li>
        <li>#37 Christophe Kabongo 🇨🇿</li>
      </ul>
    </div>

    <div class="category">
      <h3>Útočníci</h3>
      <ul>
        <li>#7 Jan Sýkora 🇨🇿</li>
        <li>#9 Ricardinho 🇧🇷</li>
        <li>#11 Matěj Vydra 🇨🇿</li>
        <li>#14 James Bello 🇳🇬</li>
        <li>#17 Rafiu Durosinmi 🇳🇬</li>
        <li>#18 Jhon Mosquera 🇨🇴</li>
        <li>#33 Erik Jirka 🇸🇰</li>
        <li>#51 Daniel Vašulín 🇨🇿</li>
        <li>#80 Prince Kwabena Adu 🇬🇭</li>
      </ul>
    </div>
  </div>

  <div class="stats">
    <p><strong>Počet titulů:</strong> 6</p>
    <p><strong>Kapacita stadionu:</strong> 11 700</p>
    <p><strong>Počet titulů v Českém poháru:</strong> 1</p>
    <p><strong>Stadion:</strong> Doosan Arena</p>
    <p><strong>Rok založení:</strong> 1911</p>
  </div>
</div>
