<app-navbar></app-navbar>

<div class="team-container">
  <div class="header">
    <div class="d-flex align-items-center">
      <img [src]="team.logo" [alt]="team.name + ' logo'" class="team-logo" />
      <div class="team-info">
        <h1>{{ team.name }}</h1>
        <h2>Soupiska:</h2>
      </div>
    </div>

    <div class="coach">
      <p><strong>Hlavní trenér:</strong> {{ coach.name }} {{ coach.surname }}</p>

      <div class="coach-controls">
        <span class="position">Pozice v tabulce: ?</span>
        <div class="social-icons">
          <a class="badge-box link" href="#" target="_blank">www</a>
          <a href="#" target="_blank"><img src="icons/instagram.png" class="social-icon" /></a>
          <a href="#" target="_blank"><img src="icons/facebook.png" class="social-icon" /></a>
          <a href="#" target="_blank"><img src="icons/x.png" class="social-icon" /></a>
          <a href="#" target="_blank"><img src="icons/tiktok.png" class="social-icon" /></a>
        </div>
      </div>
    </div>
  </div>

  <div class="squad">
    <div class="category">
      <h3>Brankáři</h3>
      <ul><li *ngFor="let p of goalkeepers">{{ p.name }} {{ p.surname }}</li></ul>
    </div>

    <div class="category">
      <h3>Obránci</h3>
      <ul><li *ngFor="let p of defenders">{{ p.name }} {{ p.surname }}</li></ul>
    </div>

    <div class="category">
      <h3>Záložníci</h3>
      <ul><li *ngFor="let p of midfielders">{{ p.name }} {{ p.surname }}</li></ul>
    </div>

    <div class="category">
      <h3>Útočníci</h3>
      <ul><li *ngFor="let p of forwards">{{ p.name }} {{ p.surname }}</li></ul>
    </div>
  </div>

  <div class="stats">
    <p><strong>Počet titulů:</strong> {{ team.leagueTitles }}</p>
    <p><strong>Kapacita stadionu:</strong> {{ team.stadiumCapacity }}</p>
    <p><strong>Počet titulů v Českém poháru:</strong> {{ team.cupTitles }}</p>
    <p><strong>Stadion:</strong> {{ team.stadium }}</p>
    <p><strong>Rok založení:</strong> {{ team.foundationYear }}</p>
  </div>
</div>
