<app-navbar></app-navbar>

<div class="table-wrapper">
  <h2>Tabulka střelců</h2>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Hráč</th>
      <th>Tým</th>
      <th>G</th>
      <th>A</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of players; let i = index">
      <td>{{ i + 1 }}.</td>
      <td>{{ p.surname }} {{ p.name.charAt(0) }}.</td>
      <td>
        <a [routerLink]="['/teams', p.teamId]">
          {{ getTeamName(p.teamId) }}
        </a>
      </td>
      <td>{{ p.goals }}</td>
      <td>{{ p.assists }}</td>
    </tr>
    </tbody>
  </table>
</div>
