<app-navbar></app-navbar>
<div class="league-container">
  <!-- Nadpis stránky -->
  <h1 class="page-title">Tabulka ligy</h1>

  <!-- Tabulka ligy -->
  <div class="league-table">
    <!-- Nadpis tabulky -->
    <div class="table-header">
      <div class="header-left">
        <span>Hlavní část</span>
      </div>
      <div class="header-center">
        <span>Tabulka ligy</span>
      </div>
      <div class="header-right">
        <span>2024/25</span>
      </div>
    </div>

    <!-- Obsah tabulky -->
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>Tým</th>
        <th>Z</th>
        <th>V</th>
        <th>R</th>
        <th>P</th>
        <th>Skóre</th>
        <th>B</th>
        <th>Forma</th>
      </tr>
      </thead>
      <tbody>
      <!-- Řádek 1 -->
      <tr>
        <td>1.</td>
        <td><img src="https://c.animaapp.com/m95wiqhuososZI/img/slavia-logo.png" alt="Slavia Praha" /> </td>
        <td>26</td><td>22</td><td>2</td><td>2</td><td>53:10</td><td>68</td>
        <td><span class="form green">V</span><span class="form green">V</span><span class="form green">V</span></td>
      </tr>

      <!-- Řádek 2 -->
      <tr>
        <td>2.</td>
        <td><img src="https://c.animaapp.com/m95wiqhuososZI/img/sparta-logo.png" alt="Sparta Praha" /> </td>
        <td>26</td><td>17</td><td>4</td><td>5</td><td>49:27</td><td>55</td>
        <td><span class="form red">P</span><span class="form red">P</span><span class="form green">V</span></td>
      </tr>

      <!-- Řádek 3 -->
      <tr>
        <td>3.</td>
        <td>Banik Ostrava</td>
        <td>26</td><td>17</td><td>3</td><td>6</td><td>43:22</td><td>54</td>
        <td><span class="form green">V</span><span class="form red">P</span><span class="form green">V</span></td>
      </tr>
      <tr>
        <td>4.</td>
        <td>Viktoria Plzeň</td>
        <td>26</td><td>16</td><td>5</td><td>5</td><td>43:22</td><td>54</td>
        <td><span class="form green">V</span><span class="form red">P</span><span class="form green">V</span></td>
      </tr>
      <tr>
        <td>5.</td>
        <td>Banik Ostrava</td>
        <td>26</td><td>17</td><td>3</td><td>6</td><td>43:22</td><td>54</td>
        <td><span class="form green">V</span><span class="form red">P</span><span class="form green">V</span></td>
      </tr>
      <tr>
        <td>6.</td>
        <td>Banik Ostrava</td>
        <td>26</td><td>17</td><td>3</td><td>6</td><td>43:22</td><td>54</td>
        <td><span class="form green">V</span><span class="form red">P</span><span class="form green">V</span></td>
      </tr>
      <tr>
        <td>7.</td>
        <td>Banik Ostrava</td>
        <td>26</td><td>17</td><td>3</td><td>6</td><td>43:22</td><td>54</td>
        <td><span class="form green">V</span><span class="form red">P</span><span class="form green">V</span></td>
      </tr>
      <tr>
        <td>8.</td>
        <td>Banik Ostrava</td>
        <td>26</td><td>17</td><td>3</td><td>6</td><td>43:22</td><td>54</td>
        <td><span class="form green">V</span><span class="form red">P</span><span class="form green">V</span></td>
      </tr>
      <tr>
        <td>9.</td>
        <td>Banik Ostrava</td>
        <td>26</td><td>17</td><td>3</td><td>6</td><td>43:22</td><td>54</td>
        <td><span class="form green">V</span><span class="form red">P</span><span class="form green">V</span></td>
      </tr>
      <tr>
        <td>10.</td>
        <td>Banik Ostrava</td>
        <td>26</td><td>17</td><td>3</td><td>6</td><td>43:22</td><td>54</td>
        <td><span class="form green">V</span><span class="form red">P</span><span class="form green">V</span></td>
      </tr>
      <tr>
        <td>11.</td>
        <td>Banik Ostrava</td>
        <td>26</td><td>17</td><td>3</td><td>6</td><td>43:22</td><td>54</td>
        <td><span class="form green">V</span><span class="form red">P</span><span class="form green">V</span></td>
      </tr>
      <tr>
        <td>12.</td>
        <td>Banik Ostrava</td>
        <td>26</td><td>17</td><td>3</td><td>6</td><td>43:22</td><td>54</td>
        <td><span class="form green">V</span><span class="form red">P</span><span class="form green">V</span></td>
      </tr>
      <tr>
        <td>13.</td>
        <td>Banik Ostrava</td>
        <td>26</td><td>17</td><td>3</td><td>6</td><td>43:22</td><td>54</td>
        <td><span class="form green">V</span><span class="form red">P</span><span class="form green">V</span></td>
      </tr>
      <tr>
        <td>14.</td>
        <td>Banik Ostrava</td>
        <td>26</td><td>17</td><td>3</td><td>6</td><td>43:22</td><td>54</td>
        <td><span class="form green">V</span><span class="form red">P</span><span class="form green">V</span></td>
      </tr>
      <tr>
        <td>15.</td>
        <td>Banik Ostrava</td>
        <td>26</td><td>17</td><td>3</td><td>6</td><td>43:22</td><td>54</td>
        <td><span class="form green">V</span><span class="form red">P</span><span class="form green">V</span></td>
      </tr>
      <tr>
        <td>16.</td>
        <td>Banik Ostrava</td>
        <td>26</td><td>17</td><td>3</td><td>6</td><td>43:22</td><td>54</td>
        <td><span class="form green">V</span><span class="form red">P</span><span class="form green">V</span></td>
      </tr>

      <!-- Přidej další týmy podle obrázku -->
      </tbody>
    </table>
  </div>
</div>

