<app-navbar></app-navbar>

<div class="team-container">
  <div class="header">
    <img src="icons/teplice.jfif" alt="FK Teplice logo" class="team-logo" />
    <div class="team-info">
      <h1>FK Teplice</h1>
      <h2>Soupiska:</h2>
    </div>
    <div class="coach">
      <p>Hlavní trenér: <strong><img src="https://flagcdn.com/w40/cz.png" class="flag" /> Zdenko Frťala</strong></p>
      <p class="position">Pozice v tabulce: <strong>12</strong></p>
      <div class="socials">
        <a href="#">🌐</a>
        <a href="#">📸</a>
        <a href="#">📘</a>
        <a href="#">📧</a>
        <a href="#">🎵</a>
      </div>
    </div>
  </div>

  <div class="squad">
    <div class="category">
      <h3>Brankáři</h3>
      <ul>
        <li>#1 Luděk Němeček 🇨🇿</li>
        <li>#31 Matěj Čechal 🇨🇿</li>
        <li>#33 Richard Ludha 🇸🇰</li>
        <li>#26 Matouš Trmal 🇨🇿</li>
      </ul>
    </div>

    <div class="category">
      <h3>Obránci</h3>
      <ul>
        <li>#2 Albert Labík 🇨🇿</li>
        <li>#3 Josef Švanda 🇨🇿</li>
        <li>#5 Lukáš Havel 🇨🇿</li>
        <li>#15 Jaroslav Harušťák 🇨🇿</li>
        <li>#16 Dalibor Večerka 🇨🇿</li>
        <li>#17 Denis Halinský 🇨🇿</li>
        <li>#18 Nemanja Mićević 🇷🇸</li>
        <li>#54 Daniel Danihel 🇸🇰</li>
        <li>#34 Nojus Audinis 🇱🇹</li>
      </ul>
    </div>

    <div class="category">
      <h3>Záložníci</h3>
      <ul>
        <li>#6 Michal Bílek 🇨🇿</li>
        <li>#7 Marek Beránek 🇨🇿</li>
        <li>#11 Daniel Langhamer 🇨🇿</li>
        <li>#13 Richard Sedláček 🇨🇿</li>
        <li>#14 Ladislav Krejčí 🇨🇿</li>
        <li>#19 Robert Jukl 🇨🇿</li>
        <li>#21 Jakub Emmer 🇨🇿</li>
        <li>#27 Ondřej Kričfaluši 🇨🇿</li>
        <li>#29 Samuel Bednár 🇸🇰</li>
        <li>#35 Matěj Radosta 🇨🇿</li>
      </ul>
    </div>

    <div class="category">
      <h3>Útočníci</h3>
      <ul>
        <li>#10 Filip Horský 🇨🇿</li>
        <li>#12 Mohamed Yasser 🇪🇬</li>
        <li>#20 Pavel Svatek 🇨🇿</li>
        <li>#55 Matyáš Vachoušek 🇨🇿</li>
        <li>#99 Kevin Zsigmond 🇸🇰</li>
      </ul>
    </div>
  </div>

  <div class="stats">
    <p><strong>Počet titulů:</strong> 0</p>
    <p><strong>Kapacita stadionu:</strong> 18 221</p>
    <p><strong>Počet titulů v Českém poháru:</strong> 2 (2003, 2009)</p>
    <p><strong>Stadion:</strong> Stadion Na Stínadlech</p>
    <p><strong>Rok založení:</strong> 1945</p>
  </div>
</div>
