<app-navbar></app-navbar>

<div class="team-container">
  <div class="header">
    <img src="icons/Jablonec.png" alt="FK Jablonec logo" class="team-logo" />
    <div class="team-info">
      <h1>FK Jablonec</h1>
      <h2>Soupiska:</h2>
    </div>
    <div class="coach">
      <p>Hlavní trenér: <strong><img src="https://flagcdn.com/w40/cz.png" class="flag" /> Luboš Kozel</strong></p>
      <p class="position">Pozice v tabulce: <strong>6</strong></p>
      <div class="socials">
        <a href="#">🌐</a>
        <a href="#">📸</a>
        <a href="#">📘</a>
        <a href="#">📧</a>
        <a href="#">🎵</a>
      </div>
    </div>
  </div>

  <div class="squad">
    <div class="category">
      <h3>Brankáři</h3>
      <ul>
        <li>#1 Jan Hanuš 🇨🇿</li>
        <li>#33 Albert Kotlín 🇨🇿</li>
        <li>#99 Klemen Mihelak 🇸🇮</li>
      </ul>
    </div>

    <div class="category">
      <h3>Obránci</h3>
      <ul>
        <li>#18 Martin Cedidla 🇨🇿</li>
        <li>#22 Jakub Martinec 🇨🇿</li>
        <li>#57 Filip Novák 🇨🇿</li>
        <li>#14 Daniel Souček 🇨🇿</li>
        <li>#5 David Štěpánek 🇨🇿</li>
        <li>#4 Nemanja Tekijaški 🇷🇸</li>
      </ul>
    </div>

    <div class="category">
      <h3>Záložníci</h3>
      <ul>
        <li>#6 Michal Beran 🇨🇿</li>
        <li>#95 Michal Černák 🇨🇿</li>
        <li>#11 Jan Fortelný 🇨🇿</li>
        <li>#26 Dominik Hollý 🇸🇰</li>
        <li>#39 Success Makanjuola 🇳🇬</li>
        <li>#25 Sebastian Nebyla 🇸🇰</li>
        <li>#21 Matěj Polidar 🇨🇿</li>
        <li>#10 Jan Suchan 🇨🇿</li>
        <li>#23 Petr Ševčík 🇨🇿</li>
        <li>#7 Vakhtang Čanturišvili 🇬🇪</li>
      </ul>
    </div>

    <div class="category">
      <h3>Útočníci</h3>
      <ul>
        <li>#77 Alexis Alégué 🇨🇲</li>
        <li>#19 Jan Chramosta 🇨🇿</li>
        <li>#44 Lamin Jawo 🇬🇲</li>
        <li>#20 Bienvenue Kanakimana 🇧🇮</li>
        <li>#37 Matouš Krulich 🇨🇿</li>
        <li>#24 David Puškáč 🇨🇿</li>
      </ul>
    </div>
  </div>

  <div class="stats">
    <p><strong>Počet titulů:</strong> 0</p>
    <p><strong>Kapacita stadionu:</strong> 6 280</p>
    <p><strong>Počet titulů v Českém poháru:</strong> 1</p>
    <p><strong>Stadion:</strong> Stadion Střelnice</p>
    <p><strong>Rok založení:</strong> 1945</p>
  </div>
</div>
